DEBUG=0
SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
POSTGRES_DB=django_starter_prod
POSTGRES_USER=django_starter
POSTGRES_PASSWORD=django_starter
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE=postgres